---
import { SEO } from 'astro-seo'

import Header from '../components/Header.astro'
import Type from '../components/Type.tsx'
import About from '../components/About.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

const background = 'bg-gray-900'
---

<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Avaab Razzaq</title>
    <meta
      name='Avaab Razzaq - AR10's blog'
      content='The one and only official blog on the internet created by Avaab Razzaq, aka 'AR10''
    />
    <link rel='alternate icon' href='/favicon.ico?' type='image/png' sizes='16x16' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png?' sizes='180x180' />
    <meta name='theme-color' content='#ffffff' />
    <SEO
      title=`Avaab Razzaq - AR10's blog`
      description=`The one and only official blog on the internet created by Avaab Razzaq, aka "AR10"`
    />
  </head>
  <body
    class='bg-gray-100 text-white select-none scrollbar scrollbar-thin scrollbar-track-gray-900 scrollbar-thumb-gray-600 scrollbar-thumb-rounded-xl'
  >
    <Header background={background} />
    <div
      class={`h-screen relative grid justify-items-center place-content-center gap-4 ${background}`.trim()}
    >
      <div class='max-w-screen-lg xl:max-w-screen-xl mx-auto text-center'>
        <h1 class='text-7xl font-bold'>Avaab Razzaq</h1>
        <h3 class='text-3xl font-semibold text-slate-200'>I'm a <Type client:load /></h3>
      </div>
    </div>
    <About />
    <Footer />
    <script src='/src/index.ts'></script>
  </body>
</html>
