---
import { SEO } from 'astro-seo'

import Header from '@components/Header.astro'
import About from '@components/About.astro'
import Footer from '@components/Footer.astro'
import Type from '@components/Type.astro'
import '../styles/global.css'

const background: string = 'bg-gray-900'
const title = `Avaab Razzaq - AR10's website`
const description = `The one and only official website on the internet created by Avaab Razzaq, aka "AR10"`
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <SEO {title} {description} />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body
    class="text-white bg-gray-100 select-none scrollbar scrollbar-thin scrollbar-track-gray-900 scrollbar-thumb-gray-600 scrollbar-thumb-rounded-xl"
  >
    <Header {background} />
    <div
      class={`h-screen relative grid justify-items-center place-content-center gap-4 ${background}`}
    >
      <div class="max-w-screen-lg mx-auto text-center xl:max-w-screen-xl">
        <h1 class="font-bold text-7xl">Avaab Razzaq</h1>
        <h3 class="text-3xl font-semibold text-slate-200">
          I'm a <Type />
        </h3>
      </div>
    </div>
    <About />
    <Footer />
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
      }
    </script>
  </body>
</html>
