<div id='about' class='grid justify-items-center place-content-center gap-4'>
  <section class='max-w-screen-lg xl:max-w-screen-xl mx-auto'>
    <article class='bg-white rounded-xl shadow-xl border p-8 my-8 mx-8 xl:mx-20'>
      <h5 class='text-3xl text-blue-700 text-center uppercase line font-bold mb-4 mt-0'>
        About me
      </h5>
      <div class='select-text'>
        <p class='text-gray-700 text-base'>
          Passionate about technology, student of the Virtual University of Pakistan and
          ready for new challenges.
        </p>
        <p class='text-gray-700 text-base'>
          I code since the first <strong>printf("Hello Wold");</strong> in 2016. In 2020, I
          graduated in IT from ITCS Erasmo da Rotterdam.
        </p>
      </div>
    </article>
  </section>
</div>
