---
import AboutMe from '@markdown-components/AboutMe.mdx'
---

<div id="about" class="grid gap-4 justify-items-center place-content-center">
  <section class="max-w-screen-lg mx-auto xl:max-w-screen-xl">
    <article class="p-8 mx-8 my-8 bg-white border shadow-xl rounded-xl xl:mx-20">
      <AboutMe />
    </article>
  </section>
</div>
