<footer class='bg-black grid justify-items-center place-content-center gap-2 py-6'>
  <p class='text-base'>Copyright © 2022 Avaab Razzaq All rights reserved</p>
  <p class='text-base'>
    Made with ❤️ by <a
      class='font-bold text-sky-400 hover:text-sky-500 transition-colors duration-200 '
      href='https://github.com/AR10Dev'
      >AR10Dev
    </a>
  </p>
</footer>
