---
const { background } = Astro.props;
---
<header class="fixed flex p-4 bg-gray-900 w-full">
  <h1 class="flex-none w-16 h-16 pl-2"><a href="/"><img src="logo.png" alt="logo" /></a></h1>
    <nav class="flex-grow">
      <ul class="space-x-3 py-4 pr-2 h-full font-bold uppercase text-gray-300">
        <li class="float-right"><a class="block px-2" href="#contact">Contact</a></li>
        <li class="float-right"><a class="block px-2" href="#works">Works</a></li>
        <li class="float-right"><a class="block px-2" href="#skill">Skill</a></li>
        <li class="float-right"><a class="block px-2" href="#about">About</a></li>
      </ul>
    </nav>
</header> 