---
import Navbar from '@solid-components/Navbar'

export interface Props {
  background: string
}

const { background } = Astro.props as Props

const links: string[] = ['contact', 'works', 'skill', 'about']
---

<header class={`fixed inset-x-0 top-0 z-[1] w-full ${background}`}>
  <div class="flex max-w-screen-lg p-4 mx-auto bg-gray-900 xl:max-w-screen-xl">
    <h1 class="flex-none w-16 h-16 pl-2">
      <a href="/"><img src="/pwa-512x512.png" alt="logo" /></a>
    </h1>
    <nav class="flex-grow">
      <Navbar links={links} client:load />
    </nav>
  </div>
</header>
